body{background-color: rgb(66, 36, 100);
    text-align: center;
    
}

h5,h3{color: rgb(245, 190, 135);}

#bigbox{text-align: center;}

.box{background-color: rgb(99, 66, 145);

display:inline-block;

width:20em;
height:30em;

margin-right: 2em;
margin-top: 2em;



}

#unli{ 
    position:relative; 
    margin: 0px  auto; 
    width: 15em; 
    /* height: 0.1em;  */
    border: 0.2em solid rgb(245, 190, 135);
    background-color: rgb(245, 190, 135);
}

header{font-family: monospace; }






.ib{
    position: absolute; 
    margin: 2em; 
    width:16em;} 


img{
    width:16em; 
    position: relative; 
    /* margin-left: 1.8em;  */
    margin-top: 1em;}

.ib p{text-align: left; font-style: italic;}

.ib button{margin-right: 15em;}

h6,h1,p{color:white;}




